justTest/test123/.vs/test123/v15/Server/sqlite3/storage.ide-wal

justTest/test123/.vs/test123/v15/Server/sqlite3/db.lock
justTest/test123/.vs/test123/v15/Server/sqlite3/storage.ide
justTest/test123/.vs/test123/v15/Server/sqlite3/storage.ide-shm
justTest/test123/.vs/test123/v15/.suo
